<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status - Not Playing</title>
    <link rel="stylesheet" href="<%= css %>">
</head>
<body>
    <div class="container items-center flex flex-col justify-center text center">
    <div class="message font-medium text-4xl ">Not Listening to anything!</div>
    <div class="emoji mt-1 text-8xl font-bold">🎧</div>
</div>
</body>
</html>